<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqb9.qqwatchmod"
    android:versionCode="35"
    android:versionName="1.34">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="32" />

    <queries>
        <package android:name="com.tencent.mobileqq" />
        <package android:name="org.lsposed.manager" />
        <package android:name="io.github.chsbuffer.revancedxposed" />
    </queries>

    <application
        android:label="QQ负载监控"
        android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="com.lqb9.qqwatchmod.XposedService"
            android:exported="true" />
    </application>
</manifest>
